<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}My Profile Application{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/anoceanofsky.css" media="all" type="text/css" />
</head><!--
<div id="mainPicture">
    	<div class="picture"></div></div>
    -->
<body>
		<h1><font color='white'>{% block head %}{% endblock %}</font></h1>
				<br><br>
				
				{% block content %}
				{% endblock %}
		</div>
	
    <div class="span-24 last">
		<br><br><br><br><hr>Copyright © 2012 | <a href="#">Dhilip Blog</a>
    </div>
</div> 
</body>
</html>
