{% extends "base.html" %}
<div>{% block head %}<font color='white'> Change Password</font> {% endblock %}</div>
{% block content %}
<div id ="page">
	Welcome <font color='green'>{{ currentuser.register.name }}</font> |
	&nbsp; <a href="/editprofile/"><font color='white'>Update Profile</font></a> |
	&nbsp; <a href="/"><font color='white'>Log-out</font></a>
</div>
<div class="contentBox">
   <div class="innerBox">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="post">{% csrf_token %}
	<div class="contentText">
		<table align="center">
			<tr><td colspan="2" align="center">{% if form.errors %}<div class="errorcaption"><strong> * Enter Fields Correctly and Submit *</strong></div> {% endif%}</td></tr>
			<tr><td></td></tr>
				<tr><td width="15%">{{ form.password.label}}:</td><td width="30%">{{ form.password}}</td>
				<td>{% if form.password.errors %}
					<div class="errorlist">{% for error in form.password.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
					{% endif %}
				</td>
			</tr>
			<tr><td width="15%">{{ form.repassword.label}}:</td><td width="30%">{{ form.repassword}}</td>
				<td>{% if form.repassword.errors %}<div class="errorlist">{% for error in form.repassword.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
				{% endif %}
				</td>
			</tr>
			<tr><td colspan="2" align="center"><br><br><input type="submit" value="Submit" id="button"/></td></tr>
		</table></div></div>
{% endblock %}

