{% extends "base.html" %}
{% block head %} Update Your Profile {% endblock %}
{% block content %}
<div id="page">
	<div>
		<a href="/updated/"><font color="white">My Profile</font></a>&nbsp;|&nbsp;
		<a href="/"><font color="white">Log-out</font></a>
	</div>
</div>		

<div class="contentBox">
   <div class="innerBox">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="post">{% csrf_token %}
	<div id="div" class="contentText">
		<table align="center">
			<tr>
				<td colspan="2" align="center">{% if form.errors %}
				<div class="errorcaption"><strong> * Enter Fields Correctly and Submit *</strong></div> {% endif%}</td>
			</tr>
			<tr><td width="25%">{{ form.sex.label}}*:</td><td width="30%">{{ form.sex}}</td><td>
				{% if form.sex.errors %}
				<div class="errorlist">{% for error in form.sex.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
				{% endif %}
			</td></tr>
			<tr><td width="25%">{{ form.status.label}}*:</td><td width="30%">{{ form.status}}</td><td>
				{% if form.status.errors %}
				<div class="errorlist">{% for error in form.status.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
				{% endif %}
			</td></tr>
			<tr><td width="25%">{{ form.aboutyou.label}}*:</td><td width="30%">{{ form.aboutyou}}</td><td>
				{% if form.aboutyou.errors %}
				<div class="errorlist">{% for error in form.aboutyou.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
				{% endif %}
			</td></tr>
			<tr><td width="25%">{{ form.mobile.label}}*:</td><td width="30%">{{ form.mobile}}</td><td>
				{% if form.mobile.errors %}
				<div class="errorlist">{% for error in form.mobile.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
				{% endif %}
			</td></tr>
			<tr><td width="25%">{{ form.blog.label}}*:</td><td width="30%">{{ form.blog}}</td><td>
				{% if form.blog.errors %}
				<div class="errorlist">{% for error in form.blog.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
				{% endif %}
			</td></tr>
			<tr><td width="25%">{{ form.facebook.label}}*:</td><td width="30%">{{ form.facebook}}</td><td>
				{% if form.facebook.errors %}
				<div class="errorlist">{% for error in form.facebook.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
				{% endif %}
			</td></tr>
			<tr><td width="25%">{{ form.linkedin.label}}*:</td><td width="30%">{{ form.linkedin}}</td><td>
				{% if form.linkedin.errors %}
				<div class="errorlist">{% for error in form.linkedin.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
				{% endif %}
			</td></tr>
<tr><td colspan="2" align="center"><br><br><input type="submit" value="Update" id="button"/></td></tr>
		</table><div>Note:- * field are not be empty</div>
	</div>
</form>
<br>
</div>

{% endblock %}
