{% extends "base.html" %}
<html>
{% block head %}
	<div id="headerTitle">Welcome to User Profile Application</div>
	
{% endblock %}

{% block content %}	
<br></br><br></br><br></br>
<div class="contentBox">
   <div class="innerBox">
		<div id='page'><font size="20px">
			<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/register/">Register</a>&nbsp;|&nbsp;<a href="/login/">Log-in</a></div></font>
		</div>
	</div>
</div>
<br></br><br></br><br></br>	
{% endblock %}
</body>

</html>
