{% block title %}Login Page{% endblock %}
{% block content %}
<div>
<h3>Login</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="post">{% csrf_token %}
<div id="div">
<h3></h3>
<table>
<tr><td colspan="2" align="center">{% if form.errors %}<div class="errorcaption"><strong> * Please give your Email ID as user name *</strong></div> {% endif%}</td></tr>
<tr><td></td></tr>

<tr>
<td width="15%">{{ form.email.label}}:</td><td width="30%">{{ form.email}}</td>
<td>
{% if form.email.errors %}
<div class="errorlist">
{% for error in form.email.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}
</div>
{% endif %}
</td>
</tr>
<tr>
<td width="15%">{{ form.password.label}}:</td><td width="30%">{{ form.password}}</td>
<td>
{% if form.password.errors %}
<div class="errorlist">
{% for error in form.password.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}
</div>
{% endif %}
</td>
</tr>

<tr><td colspan="2" align="center"><br><br><input type="submit" value="Submit" id="button"/></td></tr>
</table>
</div>
</form>
<br>
</div>


{% endblock%}
