{% extends "base.html" %}
{% block head %}Login Page{% endblock %}

{% block content %}
<div class="ContentText">
	<div id="page">
	<a href="/"><font color='white'>Home</font></a>&nbsp;|&nbsp;
	<a href="/register/"><font color='white'>Registration</font></a>
</div>

<div class="contentBox">
   <div class="innerBox">
   
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="post">{% csrf_token %}
<div id="div">
<h3></h3>
<table align='center'>
<tr><td colspan="2" align="center">{% if form.errors %}<div class="errorcaption" align="center"><font color='red'> * Enter Fields Correctly and Press Save *</font></div> {% endif%}</td></tr>
<tr><td></td></tr>

<tr>
<td width="15%">{{ form.email.label}}:</td><td width="30%">{{ form.email}}</td>
<td>
{% if form.email.errors %}
<div class="errorlist">
{% for error in form.email.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}
</div>
{% endif %}
</td>
</tr>

<tr>
<td width="15%">{{ form.password.label }}:</td><td width="30%">{{ form.password }}</td>
<td>
{% if form.password.errors %}
<div class="errorlist">
{% for error in form.password.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}
</div>
{% endif %}
</td>
</tr>
<tr><td colspan="2" align="center"><br><br><input type="submit" value="Submit" id="button"/></td></tr>
</table>
</div>
</form>
<br>
</div>
</div></div>
{% endblock %}
