<html>
<head>
    <title>Registration</title>
</head>
<body>

{% for dict in formset.errors %}
    {% for error in dict.values %}
        {{ error }}
    {% endfor %}
{% endfor %}

{% if form.errors %}
{{ form.errors }}
{% endif %}

{% if form.password.errors %}
<div class="errorlist">
{% for error in form.password.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}
</div>
{% endif %}

    <h1>Registration</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="" method="post">{% csrf_token %}	
        <table>{{ form.as_table}}</table>
        <div>{{ form.email.errors }}</div>      
        <input type="submit" value="Submit">
    </form>
</body>
</html>
