{% extends "base.html" %}
{% block head %}Registration Page{% endblock %}
{% block content %}
<div id="page" ><a href="/"><span></span><font color='white'>Home</font></a>&nbsp;|&nbsp;<a href="/login/"><span></span><font color='white'>Login</font></a></div>
			</ul>
		</center>
	</div>
</center>
<div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="contentBox">
   <div class="innerBox">
        
<form method="post">{% csrf_token %}
	<div id="div" class="contentText">
		<table align="center">
			<tr><td colspan="2" align="center">{% if form.errors %}<div class="errorcaption"><strong> * Enter Fields Correctly and Submit *</strong></div> {% endif%}</td></tr>
			<tr><td></td></tr>
			<tr><td width="15%">{{ form.name.label}}:</td><td width="30%">{{ form.name}}</td><td>
				{% if form.name.errors %}
				<div class="errorlist">{% for error in form.name.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
				{% endif %}
			</td></tr>
			<tr><td width="15%">{{ form.email.label }}:</td><td width="30%">{{ form.email }}</td><td>
				{% if form.email.errors %}
				<div class="errorlist">{% for error in form.email.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
				{% endif %}
			</td></tr>
			<tr><td width="15%">{{ form.password.label}}:</td><td width="30%">{{ form.password}}</td>
				<td>{% if form.password.errors %}
					<div class="errorlist">{% for error in form.password.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
					{% endif %}
				</td>
			</tr>
			<tr><td width="15%">{{ form.repassword.label}}:</td><td width="30%">{{ form.repassword}}</td>
				<td>{% if form.repassword.errors %}<div class="errorlist">{% for error in form.repassword.errors %}<li><strong>{{ error|escape }}</strong></li>{% endfor %}</div>
				{% endif %}
				</td>
			</tr>
			<tr><td colspan="2" align="center"><br><br><input type="submit" value="Submit" id="button"/></td></tr>
		</table>
	</div>
</form>
</div></div>
<br>
</div>


 {% endblock %}
