{% extends "base.html" %}
<title>Success</title>
{% block content %}
<center>
	<div class="span-24 last">
		<center>
			<ul class="tabs">
				<div><a href="/"><span></span>Home</a>&nbsp;|&nbsp;<a href="/login/"><span></span>Login</a></div>
			</ul>
		</center>
	</div>
</center>
<div>
<body>Thanks For your Registration.... Please login for further user</body>	</div>
{% endblock %}
