{% extends "base.html" %}
{% block head %} Profile Details {% endblock %}
{% block content %}
<div  id='page'>
	Welcome <font color='green'>{{ currentuser.register.name }}&nbsp;</font>  |
	<a href="/changepassword/"><font color='white'>Change Password</font></a>&nbsp; | 
	&nbsp;<a href="/editprofile/"><font color='white'>Update Profile</font></a>&nbsp; |
	&nbsp;<a href="/"><font color='white'>Log-out</a></font>
	
</div>

<div class="contentBox">
  <div class="innerBox">
		<div class="contentTextUser">
			<table width="100%" border='1'>
				<tr><div><td>Name</td><td>{{ currentuser.register.name }}</td></td></div></tr>
				<tr><div><td>Email-ID</td><td>{{currentuser.register.email }}</td></td></div></tr>
				<tr><div><td>Phone</td><td>{{ currentuser.mobile }}</td></td></div></tr>
				<tr><div><td>Status</td><td>{{ currentuser.status }}</td></td></div></tr>
				<tr><div><td>About Us</td><td>{{ currentuser.aboutyou }}</td></td></div></tr>
				<tr><div><td>Blog</td><td><a href="{{ currentuser.blog }}">{{ currentuser.blog }}</td></td></div></tr>
				<tr><div><td>Facebook</td><td><a href="{{ currentuser.facebook }}">{{ currentuser.facebook }}</a></td></td></div></tr>
				<tr><div><td>LinkedIn</td><td><a href="{{ currentuser.linkedin }}">{{ currentuser.linkedin }}</td></td></div></tr>
			</table>
		</div>
	</div>
	</div>
</div>
{% endblock %}

