<html>
<title>List Of Records</title>
<head align=center>Record Listing</head>
<body>
	<br></br>
<table width=100% border=1>
<tr align=center>
   <td width= 16%>Name</td>
   <td width= 16%>E-Mail ID</td>
   <td width= 16%>Phone No</td>
   <td width= 16%>Status </td>   
   <td width= 16%>City</td>
   <td width= 16%>Country</td>
</tr>
{% for view in registerview  %}
<tr>
   <td width= 16%>{{view.name}}</td>
   <td width= 16%>{{view.email}}</td>
   <td width= 16%>{{view.phone}}</td>
   <td width= 16%>{{view.status}}</td>
   <td width= 16%>{{view.city}}</td>
   <td width= 16%>{{view.country}}</td>
</ul>
{% endfor %}
</table>
</body>
</html>
